*{
  font-family: 'Shadows Into Light', 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: .33px;
}

body {
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 4px;
}

h1 {
  margin-bottom: rem;
  font-weight: 700;
  font-size: 6.5rem;
  padding: 4px 8px;
  border-bottom: dashed white 3px;
  text-shadow: -3px 10px 10px rgba(255,255,255,0.29);
}

h2 {
  font-size: 3.75rem;
  font-weight: 500;
  padding: 20px;
  text-decoration: underline;
  border: dotted black 2px;
  border-radius: 100%;
  box-shadow: -3px 10px 10px rgba(0,0,0,0.29), 5px -6px 8px rgba(0,0,0,0.37);
}

h3 {
  margin: 8px;
  font-size: 2.3rem;
  font-weight: 500;
  text-decoration: underline #319364 2px;
}

p {
  font-family: 'Indie Flower';
  margin: 10px 8px;
  padding: 8px;
  font-size: 1.5rem;
  border-bottom: dashed black 1px;
  letter-spacing: 1.2px;
}

button {
  color: rgba(255,255,255,0.47);
  font-size: 2rem;
  background-color: rgba(56, 56, 56, 0.408);
  border: none;
  padding: 5px 1.5rem;
  margin: 4px;
  flex: 1;
  transition: .23s;
  cursor: crosshair;
  text-shadow: -3px 10px 10px rgba(255,255,255,0.29), 5px -6px 8px rgba(255, 255, 255, 0.37);
  box-shadow: inset -3px 10px 5px rgba(0,0,0,0.41);
}

button:hover {
  background-color: transparent;
}

button:active {
  background-image: none;
  color: transparent;
  border-radius: 100%;
  font-size: 1.5rem;
}

footer {
  background-color: white;
  color: black;
  margin: 6.5rem 0 12px;
  border-top: dashed black 1px;
}

footer:hover {
  background-image: url("14.png");
  background-size: cover;
  background-position: center;
  font-weight: 700;
  cursor: none;
}

li {
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 40px;
  padding: 6px;
  margin: 12px 8px 6px;
}

li:hover {
  background-color: rgba(122, 39, 99, 0.61);
  color: white;
}

div img {
  border-radius: 8px;
  margin: 0 8px 0 8px;
  height: 120px;
  width: 75px;
  box-shadow: 5px 6px 8px rgba(0,0,0,0.37), 8px -3px 10px rgba(255,255,255,0.29);
}

em {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

header p {
  font-size: 2rem;
}

#start-btn {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0 12px;
}

.dlr-plr {
  margin: 1rem 24px 1rem;
  display: flex;
  justify-content: center;
  text-shadow: -3px 10px 10px rgba(0,0,0,0.29), 5px -6px 8px rgba(0,0,0,0.37);
}

.dealer-div {
  background-color: #319364;
  flex: 1;
  border-radius: 4px 0 0 4px;
  box-shadow: inset -5px -6px 8px rgba(0,0,0,0.37),-3px 10px 10px rgba(255,255,255,0.29), 5px -6px 8px rgba(255, 255, 255, 0.37);
}

.player-div {
  background-color: #7A2763;
  border-radius: 0 4px 4px 0;
  flex: 1;
  box-shadow: inset 5px -6px 8px rgba(0,0,0,0.37),-3px 10px 10px rgba(255,255,255,0.29), 5px -6px 8px rgba(255, 255, 255, 0.37);
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#top-btns{
  display: flex;
  flex-direction: column;
}

#top-btns button {
  margin: 12px 3.33rem 1rem;
}

#top-btns button:hover {
  background-image: url("14.png");
  background-size: cover;
  background-position: center;
  color: black;
}

#hidden {
  margin: 0 -5px 0 0;
}

#start {
  font-size: 1.3rem;
}

#game-breakdown {
  margin: 1.5rem 4rem 2rem;
  padding: 20px;
  background-color: #319364;
  color: #7A2763;
  letter-spacing: .5px;
  box-shadow: inset 5px -6px 8px rgba(0,0,0,0.37), inset -3px 10px 10px rgba(0,0,0.29), inset 15px -6px 10px rgba(0, 0, 0, 0.37), inset 5px -6px 8px rgba(0,0,0,0.37), inset 3px -10px 10px rgba(0,0,0.29), inset -15px 6px 10px rgba(0, 0, 0, 0.37);
}
